header{
  & nav:nth-child(1){
    justify-content: space-between;

    & div:nth-child(1) {
      & span{
        display: block;
        width: 20px;
        height: 20px;
        background-image: url(../assets/icons/List.svg);
        transition: .03s;
      }
      
    }   
    
    & div:nth-child(1):hover{
        & span{
        background-image: url(../assets/icons/List-hover.svg);
      }
    }

    & img{
      width: 100px;
      height: 15px;
    }

    & div:nth-child(3) {
      & span{
      display: block;
      margin-top: 2px;
      width: 20px;
      height: 20px;
      background-image: url(../assets/icons/MagnifyingGlass.svg);
    }
      
    }

    & div:nth-child(3):hover{
      & span{
        background-image: url(../assets/icons/MagnifyingGlass-hover.svg);
      }
    }
  }

  & nav:nth-child(3){
    padding: 14px 0;
    justify-content: space-evenly;
  }

}

@media (width >= 50em) {
  header{
    & nav:nth-child(1){

    & img{
      width: 160px;
      height: 24px;
      
    }
  }

    & nav:nth-child(3){
      display: grid;
      grid-auto-flow: column;
      justify-content: space-between;
    }
  }
}
